<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Link to The Wall -->
    <a href="/wall">The Wall</a>
    
    <h1>Log In</h1>
    <!-- Login Form -->
    <form action="/login" method="POST">
        <label for="email">Email: </label>
        <input type="email" name="email"><br><br>
        <label for="password">Password: </label>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <!-- Registration Form -->
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name"><br><br>
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name"><br><br>
        <label for="email">Email: </label>
        <input type="email" name="email"><br><br>
        <label for="password">Password: </label>
        <input type="password" name="password"><br><br>
        <label for="confirm_password">Confirm Password: </label>
        <input type="password" name="confirm_password"><br><br>
        <input type="submit" value="Register">
    </form>
    <!-- Start of required templating to show flash messages -->
    <br><br>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</body>
</html>