<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="/">Login Page</a>
    <h1>Post a message</h1>
    <form action="">
        <textarea name="boxy" id="" cols="30" rows="10"></textarea><br><br>
        <input type="submit" value="Post a message">
    </form>
    <br><br>

    <div></div>

    <br><br>
    <h1>Post a comment</h1>
    <form action="">
            <textarea name="boxy" id="" cols="30" rows="10"></textarea><br><br>
            <input type="submit" value="Post a comment">
        </form>
</body>
</html>