<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="/">Login Page</a><br><br>
    <a href="/logout">Log Out</a>
    <h1>Post a message</h1>
    <form action="/message" method="POST">
        <textarea name="message" id="boxy" cols="80" rows="4"></textarea><br><br>
        <input type="submit" value="Post a message">
    </form>
    <br><br>
    
    <div>
        {{ posts|safe }}
    </div>

</body>
</html>